.ui-widget {
    font-size: 75%;
}

.centerAlign {
    margin: 0 auto;
    text-align: center;
}

.leftAlign {
    text-align: left;
    margin-left: 0;
    float: left;
}
.rightAlign {
    text-align: right;
    margin-right: 0;
    float: right;
}
.inputField {
    text-align: right;
    margin-right: 0;
    float: right;
    width: 140px;
}
.mailToField {
    margin-top: 2px;
    margin-right: 3px;
    width: 160px;
}
.disabledRow {
    background: #ff9933;
}

.numberField {
    text-align: right;
    margin-right: 0;
    float: right;
    width: 50px;
}

.noBorderGrid td {
    border: none;
    vertical-align: top;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .60 ) url('https://www.streets.net/admin/resources/images/processing2.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
